.white-background{
    -fx-background-color: #fff;
}

//Hover Effect
.menu-element {
    -fx-cursor: hand;
}
.menu-element:hover {
    -fx-background-color: #e0e0e0;
}
.menu-element:pressed {
    -fx-background-color: #cccccc;
}


//Border

.border{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}